body {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    display: flex;
}

.site {
    max-width: 1200px;
    width: 100%;
    
    margin: 0 auto;
    padding-left: 4em;
    padding-right: 4em;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    margin: 0 auto;
    margin-top: 2em;

    display: flex;
}

/* ========================================================================== */

.main-menu {
    padding: 0;
    display: flex;
    list-style: none;
    color: #455a64;
}

.main-menu a {
    text-decoration: none;
    color: #455a64;
}

.main-menu li {
    font-size: 1em;
    text-transform: uppercase;
    margin-left: 0.66em;
}

.main-menu li .current {
    font-weight: bold;
}

/* ========================================================================== */

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ========================================================================== */

.flag-submit {
    display: flex;
    align-content: center;
    margin: auto;
}

/* ========================================================================== */

.group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.group a {
    text-decoration: none;
}

.group-header {
    display: flex;
}

.group-header h1 {
    white-space: pre;
    margin: 0em;
}

.group-tasks {
    display: flex;
    flex-wrap: wrap;
}

.task {
    width: 200px;
    height: 120px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.unsolved {
    background-color: #1e3250;
    color: white;
}

.solved {
    background-color: #66cda3;
    color: black;
}

.task .name {
    margin: 0 auto;
    margin-top: 0.33em;
    font-size: 1.5em;
    white-space: nowrap;
}

.task .score {
    margin: 0 auto;
    font-size: 3em;
    font-weight: bold;
}

/* ========================================================================== */

.signup {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.signup .login {
    padding-top: 2em;
    padding-bottom: 2em;

    display: flex;
}

.login-button {
    display: flex;

    font-size: 2em;

    margin: auto;
    height: 80px;
    width: 300px;

    border: solid;
    border-width: 1px;
    border-color: #168f48;
    background-color: #1aaa55;

    text-decoration: none;
}

.login-button .text {
    margin: auto;
    color: white;
}

.signup .or {
    display: flex;
    min-width: 100px;
}

.or .text {
    font-size: 1em;
    margin: auto;
}

.signup .register {
    display: flex;
    padding-top: 2em;
    padding-bottom: 2em;
}

.form {
    width: 500px;

    display: flex;
    flex-direction: column;
    
    border: 1px solid #e5e5e5;
}

.form-header {
    display: flex;
    align-items: center;
}

.form-header h1 {
    margin: 0 auto;
    padding-top: 0.33em;
    padding-bottom: 0.33em;
    font-weight: normal;
    font-size: 2em;
}

.form .form-element {
    flex: 1;

    margin: 0.33em;
    margin-bottom: 0;

    padding: 0.33em;
    padding-bottom: 0;

    display: flex;
    flex-direction: column;
}

.form .form-element.last {
    padding-bottom: 0.33em;
    margin-bottom: 0.33em;
}

.form-element input {
    flex: 1;
    height: 40px;

    font-size: 1.5em;
    padding-left: 0.1em;
    border: 1px solid #e5e5e5;
}

.form-element .button {
    background-color: #1f78d1;
    border-color: #1b69b6;
    color: white;
    cursor: pointer;
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
}

.form-element .name {
    margin-left: 0.33em;
    margin-bottom: 0.33em;
    color: #555555;
}

.form .form-error {
    background-color: #db3b21;
}

.form-error .error-message {
    margin-left: 0.33em;
    margin-bottom: 0.33em;
    
    color: white;
}

.password a {
    text-decoration: none;
}

/* ========================================================================== */

.arbitrage {
    display: flex;
}

.status {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-right: 60px;
}

.status h1 {
    margin-left: auto;
    margin-right: auto;
}

table {
    border-spacing: 0.66em;
}

table td {
    text-align: center;
}

table th {
    text-align: center;    
}

.server-status.online {
    color: green;
}

.server-status.offline {
    color: red;
}

.coins {
    margin-top: 30px;
}

.leaderboard {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 60px;
}

.leaderboard h1 {
    margin-left: auto;
    margin-right: auto;
}

.token {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.token div {
    display: none;
}

.token:hover div {
    display: inline;
}

.token:not(:hover)::after {
    content: "Show My Token";
}
